@{
    ViewData["Title"] = "Home Page";
}

<section class="hero">


    <div class="hero-content">

        <h1 class="hero-title">
            Bem-vindo à <span class="brand">FanStyle</span>
        </h1>

        <p class="hero-subtitle">
             Fanstyle: o seu estilo, a sua música, do seu jeito.
        </p>

        <p class="hero-ai-text">
            <span id="typed"></span>
        </p>


    </div>

</section>

<div id="myPlot" style="width:100%;max-width:900px"></div>

<script>

    const xArray = ["Pop", "Sertanejo", "Kpop", "Rock", "MPB"];
    const yArray = [55, 49, 44, 24, 15];

    const data = [{
        labels: xArray,
        values: yArray,
        type: "pie",
        hole: .40,
        textinfo: "label+percent",
        hoverinfo: "label+percent+value",
        marker: {
           colors: [
  "#CDB4DB", // lilás suave 💜
  "#A2D2FF", // azul pastel 💙
  "#BDE0FE", // azul clarinho gelo ❄️
  "#FFF1A8", // amarelo pastel 🌼
  "#B5EAD7"  // verdinho menta 🍃
]
            ]
        }
    }];

    const layout = {
        title: {
            text: "Vendas globais de produtos personalizados",
            font: {
                size: 24,
                color: "#C2185B"
            }
        },

        paper_bgcolor: "rgba(0,0,0,0)",
        plot_bgcolor: "rgba(0,0,0,0)",

        font: {
            color: "#C2185B"
        },

        showlegend: true
    };

    const config = {
        responsive: true,
        displayModeBar: true
    };

    Plotly.newPlot("myPlot", data, layout, config);

</script>

<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">

        <div class="carousel-item active">
            <img src="/images/img1.png" class="d-block w-100">

            <div class="carousel-caption">
                <h2>Mostre sua paixão</h2>
                <p>Produtos personalizados para fãs que vivem a música todos os dias</p>
            </div>
        </div>

        <div class="carousel-item">
            <img src="/images/img2.png" class="d-block w-100">

            <div class="carousel-caption">
                <h2>Seu artista, seu estilo</h2>
                <p>Crie peças únicas inspiradas em quem você ama ouvir</p>
            </div>
        </div>

        <div class="carousel-item">
            <img src="/images/img3.png" class="d-block w-100">

            <div class="carousel-caption">
                <h2>Vista o que você escuta</h2>
                <p>Transforme sua música favorita em estilo</p>
            </div>
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>