@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Bem-vindo à Minha Loja!</h1>
    <a href="/Usuario/Login" class="btn btn-primary">Login</a> 
    <a href="/Usuario/Cadastrar" class="btn btn-secondary">Cadastrar</a>
</div>
